---
import Layout from '../layouts/Layout.astro';
import Slider from '../components/sliders/index.astro';
---

<Layout title="Auto Sliders">
	<h1>Auto sliders</h1>
    <main>
       <Slider reverse/>
       <Slider />
    </main>
</Layout>

<style>
* {
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: #e5e5e5;
}
main{
    margin: auto;
    width: min(1200px, 90vw);
    
}
h1{
    text-align: center;
    color: #333;
    font-size: 3rem;
}
</style>

